p{
    width: 250px;
    padding: 10px;
    background: black;
    color: red;
    border: 3px solid red;
    text-align: center;
}

span{
    font-size: 1.8em;
}
#stop-watch span{
    font-size: 1.8em;
    width: 30px;
    padding: 10px;
    
}

#timer{
    border: none;
    background-color: black;
    font-size: 1.8em;
    color: red;
    width: 200px;
    text-align: center
}